.hero {
    width: 100%;
    height: 100vh;
    background: url('../../assets/squishCal.webp') no-repeat center center/cover;
    background-size: relative;
}

.hero .container {
    display: inline-block ;
    
}

.hero .content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
    margin-left: 7rem;
    background-color: aliceblue;
}

.hero h1 {
    color: #3a9ff8;
}

.hero .blue {
    color: #3a9ff8;
}

@media screen and (max-width:940px) {
   .hero .content {
    margin-left: 1rem;
   } 
}





