/* Adjusted styles for the main container */
.contact {
    width: 100%;
    height: 100vh;
    position: relative; /* Changed to 'relative' */
    background: url('../../assets/towel.jpeg') no-repeat center center/cover;
    background-size: 100%;
}

/* Adjusted styles for the form container */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #fff; /* Changed text color to white */
}

/* Adjusted styles for the form */
.contact form {
    width: 100%;
    max-width: 700px; /* Increased max-width for a larger form */
    padding: 4rem; /* Increased padding for more spacing */
    background: rgba(40, 221, 212, 0.9); /* Adjusted background color with alpha */
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(40, 221, 212, 0.3);
    font-family: 'PT Sans', sans-serif;
}

/* Adjusted styles for smaller screens */
@media screen and (max-width: 940px) {
    .contact .contact-container {
        padding-top: 15%; /* Adjusted for smaller screens */
    }
    .contact form {
        width: 90%;
    }
}












