/* Feed container */
.feed-container {
    padding-top: 120px; /* Adjust the value based on your navbar height */
    margin-bottom: 60px;
  }

  
  @media screen and (max-width: 940px) {
    .feed-container {
      padding-top: 220px; /* Increase the value for smaller screens with the hamburger menu */
    
    }
  
    /* Rest of your existing media query styles... */
  }


.feed {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Individual post */
  .post {
    border: 8px solid #fff;
    margin-bottom: 80px;
    padding: 50px;
    border-radius: 8px;
    background-color: #fff;
  }

  .post:not(:last-child){
      margin-bottom: 20px;
      
  }
  
  /* User profile section */
  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info {
    font-weight: bold;
  }
  
  /* Post image */
  .post-img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  /* Post caption */
  .post-caption {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
  }
  
  /* Add more styling as needed */
  
  


